In [54]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('house_data.csv')

In [56]:
df.shape

(21607, 8)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21607 entries, 0 to 21606
Data columns (total 8 columns):
id             99 non-null float64
date           99 non-null object
price          99 non-null float64
bedrooms       99 non-null float64
bathrooms      99 non-null float64
sqft_living    99 non-null float64
sqft_lot       99 non-null float64
floors         99 non-null float64
dtypes: float64(7), object(1)
memory usage: 1.3+ MB

In [58]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
count,9.900000e+01,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000
mean,4.664620e+09,5.200763e+05,3.404040,1.989899,2086.383838,11478.818182,1.464646
std,2.935212e+09,3.061939e+05,0.794358,0.729236,864.592421,14655.249813,0.511363
min,1.600040e+07,1.530000e+05,2.000000,1.000000,770.000000,1044.000000,1.000000
25%,1.914950e+09,3.070000e+05,3.000000,1.500000,1410.000000,5000.000000,1.000000
50%,4.036801e+09,4.300000e+05,3.000000,2.000000,1900.000000,6720.000000,1.500000
75%,7.337325e+09,6.562500e+05,4.000000,2.500000,2570.000000,9823.000000,2.000000
max,9.822700e+09,2.000000e+06,5.000000,4.500000,5420.000000,101930.000000,3.000000

In [59]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors'],
      dtype='object')

In [60]:
df[['price','sqft_living','sqft_lot', 'floors']]

           price  sqft_living  sqft_lot  floors
0       221900.0       1180.0    5650.0     1.0
1       538000.0       2570.0    7242.0     2.0
2       180000.0        770.0   10000.0     1.0
3       604000.0       1960.0    5000.0     1.0
4       510000.0       1680.0    8080.0     1.0
5      1230000.0       5420.0  101930.0     1.0
6       257500.0       1715.0    6819.0     2.0
7       291850.0       1060.0    9711.0     1.0
8       229500.0       1780.0    7470.0     1.0
9       323000.0       1890.0    6560.0     2.0
10      662500.0       3560.0    9796.0     1.0
11      468000.0       1160.0    6000.0     1.0
12      310000.0       1430.0   19901.0     1.5
13      400000.0       1370.0    9680.0     1.0
14      530000.0       1810.0    4850.0     1.5
15      650000.0       2950.0    5000.0     2.0
16      395000.0       1890.0   14040.0     2.0
17      485000.0       1600.0    4300.0     1.5
18      189000.0       1200.0    9850.0     1.0
19      230000.0       1250.0    9774.0     1.0
20      385000.0       1620.0    4980.0     1.0
21     2000000.0       3050.0   44867.0     1.0
22      285000.0       2270.0    6300.0     2.0
23      252700.0       1070.0    9643.0     1.0
24      329000.0       2450.0    6500.0     2.0
25      233000.0       1710.0    4697.0     1.5
26      937000.0       2450.0    2691.0     2.0
27      667000.0       1400.0    1581.0     1.5
28      438000.0       1520.0    6380.0     1.0
29      719000.0       2570.0    7173.0     2.0
...          ...          ...       ...     ...
21577        NaN          NaN       NaN     NaN
21578        NaN          NaN       NaN     NaN
21579        NaN          NaN       NaN     NaN
21580        NaN          NaN       NaN     NaN
21581        NaN          NaN       NaN     NaN
21582        NaN          NaN       NaN     NaN
21583        NaN          NaN       NaN     NaN
21584        NaN          NaN       NaN     NaN
21585        NaN          NaN       NaN     NaN
21586        NaN          NaN       NaN     NaN
21587        NaN          NaN       NaN     NaN
21588        NaN          NaN       NaN     NaN
21589        NaN          NaN       NaN     NaN
21590        NaN          NaN       NaN     NaN
21591        NaN          NaN       NaN     NaN
21592        NaN          NaN       NaN     NaN
21593        NaN          NaN       NaN     NaN
21594        NaN          NaN       NaN     NaN
21595        NaN          NaN       NaN     NaN
21596        NaN          NaN       NaN     NaN
21597        NaN          NaN       NaN     NaN
21598        NaN          NaN       NaN     NaN
21599        NaN          NaN       NaN     NaN
21600        NaN          NaN       NaN     NaN
21601        NaN          NaN       NaN     NaN
21602        NaN          NaN       NaN     NaN
21603        NaN          NaN       NaN     NaN
21604        NaN          NaN       NaN     NaN
21605        NaN          NaN       NaN     NaN
21606        NaN          NaN       NaN     NaN

[21607 rows x 4 columns]

In [61]:
df.price.isnull().sum()

21508

In [62]:
df.price.count()

99

In [63]:
df.bathrooms.max()

4.5

In [64]:
meanprice = df.price.mean()
df.price.fillna(meanprice,inplace = True)

In [65]:
meanbedrooms = df.bedrooms.mean()
df.bedrooms.fillna(meanbedrooms,inplace = True)

In [66]:
meanfloors = df.floors.mean()
df.floors.fillna(0,inplace = True)

In [67]:
meanbathrooms = df.bathrooms.mean()
df.bathrooms.fillna(meanbathrooms,inplace = True)

In [68]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,2.219000e+05,3.00000,1.000000,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,5.380000e+05,3.00000,2.250000,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,1.800000e+05,2.00000,1.000000,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,6.040000e+05,4.00000,3.000000,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,5.100000e+05,3.00000,2.000000,1680.0,8080.0,1.0
5,7.237550e+09,20140512T000000,1.230000e+06,4.00000,4.500000,5420.0,101930.0,1.0
6,1.321400e+09,20140627T000000,2.575000e+05,3.00000,2.250000,1715.0,6819.0,2.0
7,2.008000e+09,20150115T000000,2.918500e+05,3.00000,1.500000,1060.0,9711.0,1.0
8,2.414600e+09,20150415T000000,2.295000e+05,3.00000,1.000000,1780.0,7470.0,1.0
9,3.793500e+09,20150312T000000,3.230000e+05,3.00000,2.500000,1890.0,6560.0,2.0
10,1.736801e+09,20150403T000000,6.625000e+05,3.00000,2.500000,3560.0,9796.0,1.0
11,9.212900e+09,20140527T000000,4.680000e+05,2.00000,1.000000,1160.0,6000.0,1.0
12,1.141015e+08,20140528T000000,3.100000e+05,3.00000,1.000000,1430.0,19901.0,1.5
13,6.054650e+09,20141007T000000,4.000000e+05,3.00000,1.750000,1370.0,9680.0,1.0
14,1.175001e+09,20150312T000000,5.300000e+05,5.00000,2.000000,1810.0,4850.0,1.5
15,9.297300e+09,20150124T000000,6.500000e+05,4.00000,3.000000,2950.0,5000.0,2.0
16,1.875500e+09,20140731T000000,3.950000e+05,3.00000,2.000000,1890.0,14040.0,2.0
17,6.865200e+09,20140529T000000,4.850000e+05,4.00000,1.000000,1600.0,4300.0,1.5
18,1.600040e+07,20141205T000000,1.890000e+05,2.00000,1.000000,1200.0,9850.0,1.0
19,7.983200e+09,20150424T000000,2.300000e+05,3.00000,1.000000,1250.0,9774.0,1.0
20,6.300501e+09,20140514T000000,3.850000e+05,4.00000,1.750000,1620.0,4980.0,1.0
21,2.524049e+09,20140826T000000,2.000000e+06,3.00000,2.750000,3050.0,44867.0,1.0
22,7.137970e+09,20140703T000000,2.850000e+05,5.00000,2.500000,2270.0,6300.0,2.0
23,8.091400e+09,20140516T000000,2.527000e+05,2.00000,1.500000,1070.0,9643.0,1.0
24,3.814700e+09,20141120T000000,3.290000e+05,3.00000,2.250000,2450.0,6500.0,2.0
25,1.202000e+09,20141103T000000,2.330000e+05,3.00000,2.000000,1710.0,4697.0,1.5
26,1.794500e+09,20140626T000000,9.370000e+05,3.00000,1.750000,2450.0,2691.0,2.0
27,3.303700e+09,20141201T000000,6.670000e+05,3.00000,1.000000,1400.0,1581.0,1.5
28,5.101402e+09,20140624T000000,4.380000e+05,3.00000,1.750000,1520.0,6380.0,1.0
29,1.873100e+09,20150302T000000,7.190000e+05,4.00000,2.500000,2570.0,7173.0,2.0
...,...,...,...,...,...,...,...,...
21577,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21578,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21579,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21580,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21581,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21582,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21583,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21584,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21585,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21586,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21587,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21588,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21589,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21590,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21591,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21592,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21593,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21594,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21595,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21596,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21597,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21598,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21599,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21600,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21601,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21602,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21603,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21604,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21605,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0
21606,NaN,NaN,5.200763e+05,3.40404,1.989899,NaN,NaN,0.0

In [69]:
df.date.isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
21577     True
21578     True
21579     True
21580     True
21581     True
21582     True
21583     True
21584     True
21585     True
21586     True
21587     True
21588     True
21589     True
21590     True
21591     True
21592     True
21593     True
21594     True
21595     True
21596     True
21597     True
21598     True
21599     True
21600     True
21601     True
21602     True
21603     True
21604     True
21605     True
21606     True
Name: date, Length: 21607, dtype: bool

In [70]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7.129301e+09,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0
1,6.414100e+09,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0
2,5.631500e+09,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0
3,2.487201e+09,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0
4,1.954401e+09,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0

In [71]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
21602,NaN,NaN,520076.313131,3.40404,1.989899,NaN,NaN,0.0
21603,NaN,NaN,520076.313131,3.40404,1.989899,NaN,NaN,0.0
21604,NaN,NaN,520076.313131,3.40404,1.989899,NaN,NaN,0.0
21605,NaN,NaN,520076.313131,3.40404,1.989899,NaN,NaN,0.0
21606,NaN,NaN,520076.313131,3.40404,1.989899,NaN,NaN,0.0

In [72]:
df.set_index('bedrooms',inplace = True)

In [73]:
df.loc[3]

,id,date,price,bathrooms,sqft_living,sqft_lot,floors
bedrooms,,,,,,,
3.0,7.129301e+09,20141013T000000,221900.0,1.00,1180.0,5650.0,1.0
3.0,6.414100e+09,20141209T000000,538000.0,2.25,2570.0,7242.0,2.0
3.0,1.954401e+09,20150218T000000,510000.0,2.00,1680.0,8080.0,1.0
3.0,1.321400e+09,20140627T000000,257500.0,2.25,1715.0,6819.0,2.0
3.0,2.008000e+09,20150115T000000,291850.0,1.50,1060.0,9711.0,1.0
3.0,2.414600e+09,20150415T000000,229500.0,1.00,1780.0,7470.0,1.0
3.0,3.793500e+09,20150312T000000,323000.0,2.50,1890.0,6560.0,2.0
3.0,1.736801e+09,20150403T000000,662500.0,2.50,3560.0,9796.0,1.0
3.0,1.141015e+08,20140528T000000,310000.0,1.00,1430.0,19901.0,1.5
3.0,6.054650e+09,20141007T000000,400000.0,1.75,1370.0,9680.0,1.0
3.0,1.875500e+09,20140731T000000,395000.0,2.00,1890.0,14040.0,2.0
3.0,7.983200e+09,20150424T000000,230000.0,1.00,1250.0,9774.0,1.0
3.0,2.524049e+09,20140826T000000,2000000.0,2.75,3050.0,44867.0,1.0
3.0,3.814700e+09,20141120T000000,329000.0,2.25,2450.0,6500.0,2.0
3.0,1.202000e+09,20141103T000000,233000.0,2.00,1710.0,4697.0,1.5
3.0,1.794500e+09,20140626T000000,937000.0,1.75,2450.0,2691.0,2.0
3.0,3.303700e+09,20141201T000000,667000.0,1.00,1400.0,1581.0,1.5
3.0,5.101402e+09,20140624T000000,438000.0,1.75,1520.0,6380.0,1.0
3.0,8.562750e+09,20141110T000000,580500.0,2.50,2320.0,3980.0,2.0
3.0,7.589200e+09,20141110T000000,535000.0,1.00,1090.0,3000.0,1.5
3.0,9.547205e+09,20140613T000000,696000.0,2.50,2300.0,3060.0,1.5
3.0,9.270200e+09,20141028T000000,685000.0,1.00,1570.0,2280.0,2.0
3.0,1.432701e+09,20140729T000000,309000.0,1.00,1280.0,9656.0,1.0
3.0,8.035350e+09,20140718T000000,488000.0,2.50,3160.0,13603.0,2.0
3.0,8.945201e+09,20150325T000000,210490.0,1.00,990.0,8528.0,1.0
3.0,9.215400e+09,20150428T000000,450000.0,1.75,1250.0,5963.0,1.0
3.0,8.220391e+08,20150311T000000,1350000.0,2.50,2753.0,65005.0,1.0
3.0,5.245600e+09,20140916T000000,228000.0,1.00,1190.0,9199.0,1.0
3.0,7.518506e+09,20141231T000000,600000.0,1.75,1410.0,4080.0,1.0
3.0,2.799801e+09,20150407T000000,301000.0,2.50,2420.0,4750.0,2.0
3.0,1.516000e+09,20141210T000000,650000.0,2.25,2150.0,21235.0,1.0
3.0,9.558200e+09,20140828T000000,289000.0,1.75,1260.0,8400.0,1.0
3.0,5.072410e+09,20141021T000000,505000.0,1.75,2519.0,8690.0,2.0
3.0,9.528103e+09,20141207T000000,549000.0,1.75,1540.0,1044.0,3.0
3.0,1.189001e+09,20140603T000000,425000.0,2.25,1660.0,6000.0,1.0
3.0,3.253500e+09,20141120T000000,317625.0,2.75,2770.0,3809.0,1.5
3.0,1.274500e+09,20140825T000000,204000.0,1.00,1000.0,12070.0,1.0
3.0,1.049000e+09,20150105T000000,325000.0,2.00,1260.0,5612.0,1.0
3.0,3.444100e+09,20150316T000000,349000.0,1.75,1790.0,50529.0,1.0
3.0,2.391600e+09,20150420T000000,480000.0,1.00,1040.0,5060.0,1.0
3.0,6.300000e+09,20140609T000000,410000.0,1.00,1410.0,5060.0,1.0
3.0,5.104520e+09,20141202T000000,390000.0,2.50,2350.0,5100.0,2.0
3.0,1.523059e+09,20150128T000000,356000.0,1.50,1680.0,8712.0,1.0
3.0,1.133001e+09,20140602T000000,315000.0,1.00,960.0,6634.0,1.0
3.0,4.232903e+09,20141114T000000,940000.0,1.50,2140.0,3600.0,2.0
3.0,3.342103e+09,20140618T000000,461000.0,3.25,2770.0,6278.0,2.0
3.0,4.168000e+09,20150226T000000,153000.0,1.00,1200.0,10500.0,1.0
3.0,6.021502e+09,20140725T000000,430000.0,1.50,1580.0,5000.0,1.0
3.0,6.021502e+09,20141223T000000,700000.0,1.50,1580.0,5000.0,1.0
3.0,3.422049e+09,20150330T000000,247500.0,1.75,1960.0,15681.0,1.0
3.0,7.220791e+08,20140711T000000,314000.0,1.75,1810.0,41800.0,1.0

In [74]:
df.reset_index(inplace=True)

In [77]:
df1 = df.copy()

In [78]:
train = df1.sample(frac=0.75, random_state=1)
test = df1.drop(train.index)

In [79]:
train

,bedrooms,id,date,price,bathrooms,sqft_living,sqft_lot,floors
19338,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
12150,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
4208,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
4014,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
4421,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
12767,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
275,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
17882,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
10791,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
17889,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
19352,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
14705,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
11952,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
20214,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
11174,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
1174,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
13,3.00000,6.054650e+09,20141007T000000,400000.000000,1.750000,1370.0,9680.0,1.0
9524,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
10204,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
19266,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
9321,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
20812,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
4172,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
12266,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
3283,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
16339,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
11218,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
18010,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
13371,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
1421,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...
5058,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
4402,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
4794,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
16060,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
9610,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
4717,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
15403,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
11474,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
5391,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
7865,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
7226,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
14395,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
11950,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
6114,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
20244,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
194,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
6767,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
12539,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
16771,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
7531,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
11393,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
2514,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
3553,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
7801,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
20137,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
15047,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
20125,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
16059,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
17110,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0
422,3.40404,NaN,NaN,520076.313131,1.989899,NaN,NaN,0.0

In [80]:
test.count()

bedrooms       5402
id               21
date             21
price          5402
bathrooms      5402
sqft_living      21
sqft_lot         21
floors         5402
dtype: int64

In [81]:
from sklearn.model_selection import train_test_split